{% extends 'entity_dump.html.twig' %}
{% import '@AdminLTE/Macros/buttons.html.twig' as btn %}

{% block page_content %}

    <div class="well well-sm">
        {% block datatable_actions %}
            {{ btn.link_button(
                'List Seasons',
                path('media_manager_seasons') ~ '#search[search]=' ~ entity.id,
                'fas fa-list',
                'info',
                'xs')
            }}
            {{ btn.link_button(
                'List Episodes',
                path('media_manager_episodes') ~ '#search[search]=' ~ entity.id,
                'fas fa-list',
                'info',
                'xs')
            }}
            {% if is_granted('ROLE_ADMIN') %}
                {{ btn.link_button(
                    'Sync Episodes',
                    path('media_manager_episodes_update', {'showId': entity.id}),
                    'fas fa-sync',
                    'success',
                    'xs')
                }}
            {% endif %}
        {% endblock %}
    </div>

    {{ parent() }}

{% endblock %}