{% extends 'base.html.twig' %}

{% block page_title %}Table view{% endblock %}

{% block page_content %}
    <table class="table table-bordered table-striped table-condensed datatable">
        <thead>
            <tr>
                {% for property in properties %}
                    <th>{{ property }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    {% for property, name in properties %}
                        {% set field = attribute(entity, property) %}
                        {% if field is instanceof('DateTime') or field is instanceof('DateTimeImmutable') %}
                            <td>{{ field|date('Y-m-d H:i') }}</td>
                        {% else %}
                            <td>{{ field }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready( function () {
            $('.datatable').DataTable({
                "pageLength": 25
            });
        });
    </script>
{% endblock %}
